<div class="gallery">
  <!-- Картки зображень -->

  <!-- <div class="photo-card">
    <img src="" alt="" loading="lazy" />
    <div class="info">
      <p class="info-item">
        <b>Likes</b>
      </p>
      <p class="info-item">
        <b>Views</b>
      </p>
      <p class="info-item">
        <b>Comments</b>
      </p>
      <p class="info-item">
        <b>Downloads</b>
      </p>
    </div>
  </div> -->
</div>
<button type="button" id="loadMore">Load more</button>
<div class="go-top">🡱</div>
